.container {
  padding-left: 12vw;
  background: linear-gradient(135deg, #ccffff, #ffcccc);
  background-attachment: fixed;
}
.cardContainer {
  margin: 0;
  padding-top: 40px;
  width: 80vw;
  /* background-color: #ecf0f3; */
  display: grid;
  grid-template-columns: repeat(80, 0.8vw);
  grid-auto-rows: 0.8vw;
  justify-content: center;
}

@media (max-width: 800px) {
  .cardContainer {
    width: 100vw;
  }
}

.card {
  margin: 0.9vw;
  padding: 1vw;
  border-radius: 1.3vw;
  grid-row-end: span 20;
  grid-column-end: span 20;
  background: linear-gradient(134.77deg, #f6f7f8 1.74%, #dbe7f0 96.12%);
  box-shadow: inset -6px -6px 4px rgba(87, 73, 73, 0.2),
    inset 6px 6px 4px rgba(255, 255, 255, 0.67);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.medium {
  grid-row-end: span 40;
  grid-column-end: span 40;
}

.card:hover {
  box-shadow: 4px 4px 7px rgba(255, 255, 255, 0.95),
    inset 7px 7px 7px rgba(87, 73, 73, 0.21);
  background: linear-gradient(134.77deg, #f1f5f8 1.74%, #e2ecf3 96.12%);
  transform: scale(0.99);
  transition: all 0.2s ease-in-out;
}

.imageContainer {
  overflow: hidden;
  border-radius: 1.3vw;
  font-size: 0px;
}

.text {
  position: relative;
  top: 1vw;
  left: 0.5vw;
  font-family: Poppins;
  font-size: 1.5vw;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: #593b3c;

  text-shadow: -2px -2px 4px #ffffff, 2px 2px 4px rgba(0, 0, 0, 0.4);
}
