.navbar {
  width: 65px;
  height: 100vh;
  position: fixed;
  background-color: #b2cee9; /* var(--bg-primary); */
  transition: 0.55s;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0, 1.01);
  z-index: 10;
}

.navbar:hover {
  width: 200px;
}

.navbarNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.navbarNavFrensHidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  margin-top: 55px;
  left: 20px;
  transition: height 0.4s, opacity 0.4s 0.1s, visibility 0s 0.4s;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbarNavFrens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  margin-top: 55px;
  left: 20px;
  transition: height 0.4s, opacity 0.2s, visibility 0s;
  height: calc(100vh - 420px);
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
  overflow-x: hidden;
}

/* .navbarNav::-webkit-scrollbar {
  width: 5px;
}

.navbarNav::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.navbarNav::-webkit-scrollbar-thumb {
  background: #888;
} */
.navbarNavEnd {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 10;
  /* border-top: 2px solid rgb(29, 29, 39); */
  box-shadow: -4px -4px 2px rgba(187, 187, 224, 0.6);
}

.navLink {
  /* position: absolute; */
  width: 100%;
  list-style: none;
}

.navA::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f0f2f7;
  transition: transform 0.6s cubic-bezier(0.17, 0.67, 0, 1.01);
  transform: scaleX(0);
  transform-origin: left;
}

.navA:hover::before {
  transform: scaleX(1);
}

.navA {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.navF {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  z-index: 10;
  color: var(--bg-primary);
}

.title {
  position: relative;
  display: block;
  padding: 0 0 0 20px;
  height: 60px;
  font-family: "josefin sans";
  font-size: 19px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  color: var(--bg-primary);
}

.titlefrens {
  position: relative;
  display: block;
  padding: 0 0 0 10px;
  font-family: "josefin sans";
  height: 40px;
  font-size: 17px;
  line-height: 40px;
  text-align: start;
  white-space: nowrap;
  color: var(--bg-primary);
}

.iconfrens {
  position: relative;
  display: block;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 10;
  color: var(--bg-primary);
}

/* .navItem {
  width: 100%;
}


.navLink {
  display: flex;
  align-items: center;
  height: 5vw;
  color: var(--text-primary);
  text-decoration: none;
}
.linkText {
  display: none;
  margin-left: 1.2vw;
}

.navLink .icon {
  min-width: 32px;
  margin: 0 24px;
}

.icon {
  height: 50px;

  fill: purple;
} */

.svgIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 65px;
  top: 110px;
}
.searchBar {
  border: none;
  outline: none;
  background: none;
  width: 90%;
  height: 25%;
  color: #000;
  caret-color: #555;
  letter-spacing: 1px;
  margin: 40px 15px;
  text-indent: 45px;
  font-size: 20px;
  font-weight: 400;
  padding: 20px 10px 20px 5px;
  border-radius: 25px;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px #ffffff;
}
